# Python Virtual Environments
venv/
env/
.venv/
smai-3/

# Python Cache
__pycache__/
*.pyc
.pytest_cache/

# Project Data (don't push raw audio files or models)
data/indicvoices_hindi/
evaluation_results.json

# Local Streamlit config / secrets
.streamlit/

# OS specific
.DS_Store